<h1> FARMER OVERVIEW </h1>
<% @currentProducts.each do |f| %>
  <%= f.product %>
  <%= f.price %>
  <%= f.amount %> <br>
<% end %>

<h1> ADD NEW PRODUCT </h1>
<%= simple_form_for(:product, defaults: {required: false}) do |f| %>
  <%= f.input :hierarchy1, collection: @products.get_product_name_array %>
  <%= f.input :hierarchy2, collection: @products.get_grain_name_array %>
  <%= f.input :hierarchy3, collection: @products.get_wheat_name_array %>
  <%= f.input :price %>
  <%= f.input :amount %>
  <%= hidden_field_tag(:id, @user.get_username) %>
  <%= f.button :submit, 'Save' %>
<% end %>
